@import url(../section/section-title/section-title_theme_dark/section-title_theme_dark.css);
@import url(../section/section-subtitle/section-subtitle_theme_dark/section-subtitle_theme_dark.css);
@import url(../table/table__cell/_theme/table__cell_theme_dark.css);
@import url(../table/table__heading/_theme/table__heading_theme_dark.css);
@import url(../table/table__text/_theme/table__text_theme_dark.css);
@import url(../table/table/_theme/table_theme_dark.css);
@import url(../kaufman/triangle/kaufman-triangle.css);

.kaufman {
	background-color: #1f1f1f;
	color: white;
	text-align: center;
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding-bottom: 90px;
}



