.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
}

.logo {
  margin: 30px 0 0 64px;
  width: 228px;
  height: 32px;
}

.header__logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.header__title {
  flex-direction: column;
  width: 730px;
  margin: auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  background-image: url(../images/two_again.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  box-sizing: border-box;
  object-fit: cover;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -2;
}

.content {
  margin: 0 auto;
}

.description {
  width: 80%;
  margin: auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 auto 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: auto;
  text-align: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0px;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 100px auto 0px;
  position: relative;
  height: 100vh;
}

.feynman__title {
  margin: 100px auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman_illustration {
  width: 867px;
  height: 637px;
  background-image: url(../images/feynman.png);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 90px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme-dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__cell_theme_dark {
  text-align: left;
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  margin: 0 auto;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding: 60px 0 40px;

}

.footer__columns {
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}

.logo_place_footer {
  margin: 0;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0px;
}

.footer__column_content_info {
  margin: 0 0 16px;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.footer__column_content_social {
  margin: 0 0 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  display: block;
}
